* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --transition-speed: 0.5s;
}

[data-theme="light"] {
  --text-color: #000;
  --background-color: #fff;
  --price-background: #dddd9e;
}

[data-theme="dark"] {
  --text-color: #fff;
  --background-color: #000;
  --price-background: #87874c;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color var(--transition-speed),
    color var(--transition-speed);
  position: relative;
}

.container {
  margin: auto;
}

header {
  padding-block: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 10px;
  border-bottom: 1px solid slategray;
  box-shadow: 4px 4px 0px 2px #e1e1e1;
  width: 100%;
}

nav div {
  display: flex;
  .cart {
    margin-inline: 30px;
    position: relative;
    span {
      position: absolute;
      left: 32px;
      top: 10px;
      background: red;
      color: white;
      border-radius: 50%;
      padding-inline: 4px;
    }
  }
}

input[type="search"] {
  padding: 10px;
  border-radius: 7px;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
  &:focus {
    outline: none;
    border-color: black;
  }
}

#products .item {
  border: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

img {
  max-width: 250px !important;
  height: 250px !important;
  border: 1px solid #acacac;
  border-radius: 5px;
}
#products .item .category,
#products .item .price,
#products .item .count {
  padding: 5px;
}

#products .item .count {
  background-color: #03a9f4;
  width: fit-content;
  margin-block: 5px;
}
#products .item .price {
  background-color: var(--price-background);
  width: fit-content;
}

@media (max-width: 357px) {
  input[type="search"] {
    width: 150px;
  }
}

footer {
  text-align: center;
  padding: 20px;
  background-color: var(--text-color);
  color: var(--background-color);
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -75px;
}
